/Binaries
/DerivedDataCache
/Intermediate
/Saved
/GameData
/Platforms

/Content

/Source/ArenaBattle/Character/ABCharacterBase.cpp
/Source/ArenaBattle/Character/ABCharacterBase.h


/Config
*.bat
.vscode
.vs
.vsconfig
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
*.uproject